
h1 {
    text-align: center;
    font-family:  Times, serif;
    font-weight: 800;
    font-size: 38px;
    color: #222222;
    letter-spacing: -0.02rem;
    word-spacing: -0.02rem;
    line-height: 1;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 40%;
    bottom: 0;
    left: 49%;
    right: 0;
    width: 200px;
    height: 100px;
    margin: auto;   
    
}

.h2 {
  position: fixed;
  top:75%;
  left:43%;

}

.h3 {
  position: fixed;
  top:75%;
  left: 42%;
}

.h4 {
  position: fixed;
  top:82%;
  left:42.7%;
}

.circle.small {
  border: 8px solid lightgreen;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  z-index: 86;
  position: fixed;
  top: 35%;  
  left: 37%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: spin 60s linear 1;
  animation-play-state: paused;
}

.circle.filled {
  background-color: #666666;
      
}

.circle.small.resume{
  animation-play-state: running;
}


@keyframes spin {
  0% {
    transform: rotate(135deg);
    border-color: lightgreen;

  }

  25% {
    transform: rotate(135deg);
    border-color: lightgreen lightgreen lightgreen #696969;
  }
  
  50% {
    transform: rotate(135deg);
    border-color: #696969 #ffff00 #ffff00 #696969;
  }


  83.33% {
    transform: rotate(135deg);
    border-color:  #696969  #696969 red #696969 ;
  }
  100% {
    transform: rotate(135deg);
    border-color: #696969;
  }
}